@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
    font-weight: 400;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.wrapper {
    max-width: 90rem;
    margin: 0 auto;
}


/* ----- TEXT COMPONENTS ----- */

h1, h2, h3 {
    font-family: Merriweather;
    font-weight: 700;
}

.link {
    color: #F78065;
    font-size: 1.125rem;
    font-weight: 700;
}



/* ----- HERO ----- */

.hero {
    position: relative;
    margin-bottom: 25rem;
}

.hero__img {
    width: 100%;
}

.hero__textbox {
    max-width: 46.3125rem;

    position: absolute;
    bottom: -35%;
    left: 3.9375rem;

    background-color: #fff;
    box-shadow: 0 4px 100px #00000020;

    padding: 6rem 9.75rem 4.6875rem 4rem;
}

.hero__headline {
    font-size: 2.4375rem;
    font-weight: 700;
}

.hero__txt {
    font-size: 1.25rem;
    font-weight: 500;

    margin-top: 2rem;
}

.hero__button {
    border: 0;
    background-color: #F78065;

    color: #fff;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-weight: 700;

    padding: 1.25rem 4.6875rem;
    margin-top: 2rem;
}



/* ----- SERVICES ----- */

.services {
    max-width: 77.5rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.5rem;

    margin: 0 auto;
    margin-bottom: 15rem;
}

.services__card__headline {
    font-size: 1.5rem;

    margin-top: 5.25rem;
}

.services__card__txt {
    font-weight: 500;

    margin-top: 1rem;
    margin-bottom: 1.5rem;
}



/* ----- FACILITIES ----- */

.facilities {
    max-width: 77.5rem;

    margin: 0 auto;
    margin-bottom: 16.4375rem;
}

.facilities__card {
    position: relative;

    padding-bottom: 2.5rem;
}

.facilities__headline {
    font-size: 2.25rem;

    margin-bottom: 6.75rem;
}

.facilities__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2.875rem;
}

.facilities__card__img {
    margin-bottom: 4rem;
}

.facilities__card__headline {
    font-size: 1.375rem;

    margin-bottom: 2rem;
}

.facilities__card__txt {
    font-size: 0.875rem;
}

.facilities__card__link {
    position: absolute;
    bottom: 0;
}



/* ----- SITES ----- */

.sites {
    max-width: 77.5rem;

    margin: 0 auto;
}



/* ----- ADVANTAGES ----- */

.advantages {
    max-width: 77.5rem;

    margin: 0 auto;
}



/* ----- FOOTER ----- */