@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
    font-weight: 400;
}

li {
    list-style-type: none;
}

a {
    color: #000;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.wrapper {
    max-width: 90rem;
    margin: 0 auto;
}


/* ----- COMPONENTS ----- */

h1, h2, h3 {
    font-family: Merriweather;
    font-weight: 700;
}

.link {
    color: #F78065;
    font-size: 1.125rem;
    font-weight: 700;
}

.btn {
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;

    background-color: #F78065;

    color: #fff;
    font-size: 1.125rem;
    font-weight: 700;

    padding: 1.25rem;
}
.btn:hover {
    opacity: 0.8;
}



/* ----- HERO ----- */

.hero {
    position: relative;
    margin-bottom: 25rem;
}

.hero__img {
    width: 100%;
}

.hero__textbox {
    max-width: 46.3125rem;

    position: absolute;
    bottom: -35%;
    left: 3.9375rem;

    background-color: #fff;
    box-shadow: 0 4px 100px #00000020;

    padding: 6rem 9.75rem 4.6875rem 4rem;
}

.hero__headline {
    font-size: 2.4375rem;
    font-weight: 700;
}
.hero__headline span {
    color: #F78065;
}

.hero__txt {
    font-size: 1.25rem;
    font-weight: 500;

    margin-top: 2rem;
}

.hero__btn {
    padding: 1.25rem 4.625rem;
    margin-top: 2rem;
}



/* ----- SERVICES ----- */

.services {
    max-width: 77.5rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.5rem;

    margin: 0 auto;
    margin-bottom: 15rem;
}

.services__card__headline {
    font-size: 1.5rem;

    margin-top: 5.25rem;
}

.services__card__txt {
    font-weight: 500;

    margin-top: 1rem;
    margin-bottom: 1.5rem;
}



/* ----- FACILITIES ----- */

.facilities {
    max-width: 77.5rem;

    margin: 0 auto;
    margin-bottom: 16.4375rem;
}

.facilities__headline {
    font-size: 2.25rem;

    margin-bottom: 6.75rem;
}

.facilities__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2.875rem;
}

.facilities__card {
    min-height: 16rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.facilities__card__img {
    margin-bottom: 4rem;
}

.facilities__card__headline {
    font-size: 1.375rem;

    margin-bottom: 2rem;
}

.facilities__card__txt {
    font-size: 0.875rem;
    line-height: 1.7;

    margin-bottom: 1rem;
}

.facilities__card__link {
    margin-top: auto;
}



/* ----- SITES ----- */

.sites {
    max-width: 77.5rem;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */

    margin: 0 auto;
    margin-bottom: 14.5rem;
}

.sites__textbox {
    grid-column: 1/2;

    max-width: 20.3125rem;

    margin-right: 7.9375rem;
}

.sites__headline {
    font-size: 2.25rem;

    margin-bottom: 2rem;
}

.sites__txt {
    font-size: 1.125rem;
}

.sites__btn {
    column-gap: 0.25rem;
    padding: 1.25rem 5.5rem;
    margin-top: 3rem;
}

.sites__grid {
    grid-column: 2/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3.0625rem;
}

.sites__card {
    max-width: 14.375rem;
}

.sites__card__img {
    display: block;
    width: 100%;
    height: 75%;
    object-fit: cover;
}

.sites__card__headline {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.sites__card__txt {
    color: #3F3D56;
    font-size: 0.875rem;
    margin: 0.5rem 0 0.7rem;
}

.sites__card__link {
    font-weight: 500;
}



/* ----- ADVANTAGES ----- */

.advantages {
    max-width: 77.5rem;

    margin: 0 auto;
}

.advantages__headline {
    font-size: 2.25rem;
}

.advantages__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.5625rem;

    margin-top: 6.75rem;
}

.advantages__card {
    min-height: 16rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.advantages__card__headline {
    font-size: 1.375rem;

    margin-top: 4rem;
    margin-bottom: 1rem;
}

.advantages__card__txt {
    font-size: 0.875rem;
    line-height: 1.7;

    margin-top: auto;
}



/* ----- FOOTER ----- */

footer {
    display: flex;
    flex-direction: column;

    background-color: #F7F7F7;

    padding: 6rem 6.875rem 4rem 6.4375rem;
    margin-top: 15.6875rem;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer__textbox {
    grid-column: 1/2;
    grid-row: 1/2;

    max-width: 19rem;
}

.footer__txt {
    font-family: Merriweather;
    font-size: 1.5rem;
    font-weight: 700;

    margin-bottom: 1rem;
}
.footer__headline {
    font-size: 3rem;
}

.footer__list__container {
    grid-column: 2/3;
    grid-row: 1/2;

    display: flex;
    justify-content: space-between;
    column-gap: 7.5rem;
}

.footer__list {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.footer__list__item {
    font-size: 0.875rem;
}

.footer__list__item:first-of-type {
    font-family: Merriweather;
    font-size: 1.125rem;
    font-weight: 700;
}


.footer__address {
    grid-column: 1/3;
    grid-row: 2/3;

    display: flex;
    justify-content: space-between;

    border-top: 1px solid #000;

    font-style: normal;

    padding-top: 1.75rem;
    margin-top: 5.3125rem;
}

.footer__address__copyright {
    font-size: 0.875rem;
}

.footer__address__list {
    display: flex;
    column-gap: 3rem;

    font-size: 0.875rem;
}